* {
    margin: 0;
    padding: 0;
    font-family: '黑体';
}

a {
    color: dimgray;
    text-decoration: none;
}

a:hover {
    color: yellowgreen;
    text-decoration: underline;
}

.inline-block {
    display: inline-block;
    vertical-align: top;
}

.flex {
    display: flex;
    display: -webkit-flex;
}

.flex-grow {
    flex-grow: 1;
    -webkit-flex-grow: 1;
}

.index_header {
    width: 100%;
    min-width: 1000px;
    height: 100px;
    background-color: #8dcc59;
}

.header {
    width: 100%;
    min-width: 1000px;
    height: 100px;
}

.green_button {
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    display: inline-block;
    padding: 0 20px;
    color: #fff;
    background-color: #8dcc59;
    border-radius: 5px;
}

.ih_inner {
    width: 1000px;
    height: 100px;
    margin: auto;
}

.logo_div {
    display: inline-block;
    height: 100px;
    vertical-align: top;
}

.logo {
    height: 60px;
    width: auto;
    margin: 20px 0;
}

.ih_right {
    display: inline-block;
    vertical-align: top;
    height: 100px;
    float: right;
}

.login_button {
    display: inline-block;
    height: 25px;
    margin-top: 5px;
    float: right;
}

.login_button:hover {
    color: #fff;
}

.search {
    height: 25px;
    width: 200px;
    border: 2px solid #fff;
    border-radius: 15px;
    white-space: nowrap;
    margin-top: 50px;
}

.s_input {
    width: 75%;
    background: none;
    border: 0;
    margin-left: 5px;
    height: 25px;
    line-height: 25px;
    color: #fff;
}

.s_button {
    width: 20%;
    background: none;
    border: 0;
    color: #fff;
    border-left: 2px solid #fff;
    border-radius: 0;
    font-size: 10px;
}

.search_0 {
    height: 25px;
    width: 200px;
    border: 2px solid #8dcc59;
    white-space: nowrap;
    margin-top: 50px;
}

.s_button_0 {
    height: 100%;
    width: 20%;
    border: 0;
    color: #fff;
    border-left: 2px solid #fff;
    border-radius: 0;
    font-size: 10px;
    background-color: #8dcc59;
}

.s_input_0 {
    width: 75%;
    background: none;
    border: 0;
    margin-left: 5px;
    height: 25px;
    line-height: 25px;
}

.index_navibar {
    width: 100%;
    min-width: 1000px;
    height: 40px;
    background: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 100px;
}

.navibar {
    width: 100%;
    min-width: 1000px;
    height: 40px;
    background: #8dcc59;
}

.in_inner {
    margin: auto;
    width: 1000px;
    height: 40px;
    text-align: center;
}

.in_tab {
    display: inline-block;
    height: 20px;
    line-height: 20px;
    margin: 10px 0;
    width: 109px;
    text-align: center;
    border-right: 2px solid #fff;
    text-decoration: none;
    color: #fff;
}

.in_tab:hover {
    color: #000;
    background-color: #fff;
    text-decoration: none;
}

.b0 {
    width: 100%;
    min-width: 1000px;
    height: 350px;
    margin: auto;
    position: relative;
    text-align: center;
}

.b0_bb {
    position: absolute;
    left: 50%;
    margin: auto;
    width: 500px;
    height: 250px;
    z-index: 10;
    margin-top: 40px;
}

.memo_0 {
    height: 100px;
    width: 500px;
    position: absolute;
    left: 0;
    top: 20px;
    z-index: 100;
}

.memo_1 {
    height: 100px;
    width: 500px;
    position: absolute;
    left: 0;
    top: 130px;
    z-index: 100;
}

.b0_swiper_cloak {
    width: 100%;
    height: 100px;
    position: absolute;
    bottom: 0;
    background: url("../Images/index/swiper_filter.png");
}

.b0_swiper {
    width: 100%;
    overflow: hidden;
    max-width: 1920px;
    height: 450px;
    margin: auto;
    position: relative;
    z-index: -1;
}

.t_button {
    display: block;
    line-height: 30px;
    height: 60px;
    width: 100px;
    color: #fff;
    text-decoration: none;
    position: absolute;
    overflow: hidden;
    text-align: center;
    z-index: 10000;
}

.t_button:hover {
    text-decoration: underline;
    color: #fff;
}

.t_button_0 {
    left: 18px;
    top: 46px;
}

.t_button_1 {
    left: 196px;
    top: 46px;
}

.t_button_2 {
    left: 370px;
    top: 46px;
}

.t_button_3 {
    left: 26px;
    top: 158px;
}

.t_button_4 {
    left: 200px;
    top: 158px;
}

.t_button_5 {
    left: 370px;
    top: 158px;
}

.b1 {
    width: 958px;
    height: 360px;
    padding: 20px;
    margin: auto;
    background-color: #fff;
    border: 1px solid lightgray;
    border-radius: 20px;
    z-index: 1000;

}

.b1_l {
    display: inline-block;
    height: 360px;
    width: 60%;
    margin-right: 4%;
    float: left;
}

.b1_r {
    display: inline-block;
    height: 360px;
    width: 36%;
    float: left;
}

.b1_title {
    width: 100%;
    height: 49px;
    border-bottom: 1px solid #999;
    position: relative;
}

.b1_title_img {
    height: 55px;
    position: absolute;
    left: 0;
    top: 0;
}

.b1_title_div {
    display: inline-block;
    position: absolute;
    left: 15px;
    top: 5px;
    color: #ffffff;
    font-size: 25px;
    height: 40px;
    line-height: 40px;
}

.b1_title_more {
    position: absolute;
    bottom: 0;
    right: 0;
    color: #9a9a9a;
    text-decoration: none;
}

.b1_l_t {
    width: 100%;
}

.b1_l_t:after {
    content: '';
    clear: both;
    display: block;
}

.b1_l_t_content {
    display: inline-block;
    margin: 14px 0 0 14px;
    width: 170px;
    height: 200px;
    position: relative;
    vertical-align: top;
    color: dimgray;
}

.b1_l_t_img {
    margin-top: 30px;
    width: 170px;
    height: 115px;
}

.b1_l_t_dateimg {
    width: 170px;
    position: absolute;
    top: 0;
    left: 0;
}

.b1_l_t_time {
    position: absolute;
    top: 10px;
    left: 40px;
    color: dimgray;
    transform: rotate(-5deg);
    -ms-transform: rotate(-5deg); /* IE 9 */
    -moz-transform: rotate(-5deg); /* Firefox */
    -webkit-transform: rotate(-5deg); /* Safari 和 Chrome */
    -o-transform: rotate(-5deg);
}

.b1_l_t_title {
    display: inline-block;
    line-height: 25px;
    height: 50px;
    width: 100%;
    text-align: center;
    overflow: hidden;
}

.b1_l_line {
    width: 100%;
    border-top: 2px dashed gray;
    height: 40px;
    line-height: 40px;
}

.b1_l_news {
    width: 50%;
    height: 40px;
    float: left;
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.b1_l_news_date {
    margin: 5px 5px 5px 0;
    height: 30px;
    line-height: 30px;
    width: 100px;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    color: #fff;
    background-color: #9bc851;
    white-space: nowrap;
    text-align: center;
    display: inline-block;
}

.b1_l_news_title {
    font-size: 14px;
    color: dimgray;
}

.fast_entry {
    display: block;
    width: 343.59px;
    height: 55px;
    line-height: 55px;
    margin-top: 20px;
    border: 1px solid lightgray;
    border-radius: 32.5px;
    background-color: #fafafa;
}

.fast_entry img {
    height: 30px;
    vertical-align: middle;
    margin: 0 20px;
}

.b3 {
    width: 1000px;
    margin: 30px auto;
}

.b_title {
    font-size: 30px;
    height: 50px;
    line-height: 50px;
    border-bottom: 2px dashed lightgray;
}

.e_title {
    color: lightgray;
}

.b3_content {
    width: 100%;
    white-space: nowrap;
}

.b3_content:after {
    content: '';
    clear: both;
    display: block;
}

.campus_content {
    display: inline-block;
    width: 190px;
    margin: 10px 12.5px 0 0;
    text-decoration: none;
    float: left;
}

.campus_content img {
    width: 100%;
    height: 136px;
}

.campus_title {
    line-height: 30px;
    height: 30px;
    width: 100%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: bold;
}

.campus_description {
    width: 100%;
    height: 50px;
    line-height: 25px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    font-size: 0.8rem;
    white-space: normal;
}

.teacher_content {
    display: inline-block;
    width: 190px;
    margin: 10px 12.5px 0 0;
    text-decoration: none;
    float: left;
}

.teacher_content img {
    width: 190px;
    height: 190px;
    border-radius: 95px;
}

.teacher_title {
    line-height: 30px;
    height: 30px;
    width: 100%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: bold;
}

.teacher_description {
    width: 100%;
    height: 50px;
    line-height: 25px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    font-size: 0.8rem;
    white-space: normal;
}

.footer {
    padding-top: 50px;
    min-width: 1000px;
    width: 100%;
    text-align: center;
    height: 200px;
    color: #fff;
    background-color: #3a3a3a;
}

.qrcode {
    width: 80px;
    height: 80px;
}

.qrcode_block {
    display: inline-block;
    width: 100px;
    font-size: 0.8rem;
}

.footer_title {
    font-size: 1.4rem;
    height: 40px;
    line-height: 40px;
}

.block {
    margin: auto;
    width: 960px;
    height: 80px;
    line-height: 80px;
    border-bottom: 2px dashed lightgray;
    font-size: 24px;
    padding: 0 20px;
}

.directory {
    float: right;
    color: gray;
    font-size: 16px;
}

.news_tab {
    color: dimgray;
    font-size: 16px;
    margin-right: 20px;
}

.news_tab_selected {
    color: #9bc851;
    border-bottom: 2px solid #9bc851;
}

.news_tab:hover {
    text-decoration: none;
}

.news_block {
    display: block;
    margin: auto;
    width: 960px;
    height: auto;
    border-bottom: 2px dashed lightgray;
    font-size: 24px;
    padding: 0 20px;
}

.news_block:hover {
    color: #9bc851;
    text-decoration: none;
}

.news_title {
    height: 60px;
    line-height: 60px;
}

.news_details {
    width: 100%;
    color: dimgray;
    line-height: 20px;
    font-size: 14px;
    margin-bottom: 20px;
}

.nq_picture {
    height: 210px;
    line-height: 210px;
    width: 280px;
    border: 1px solid lightgray;
    text-align: center;
}

.nq_picture img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    vertical-align: middle;
}

.nq_content_block {
    width: 650px;
    height: 210px;
}

.nq_content {
    height: 150px;
    width: auto;
    line-height: 30px;
    overflow: hidden;
    font-size: 16px;
    color: dimgray;
    margin-bottom: 10px;
}

.page {
    width: 100%;
    min-width: 100px;
    text-align: center;
    padding: 40px 0;
}

.page_input {
    width: 3rem;
    margin: 0 10px;
    text-align: center;
    font-size: 16px;
}